<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCampaignTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form enctype="multipart/form-data">
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCampaignLabel_campaignId}" for="campaignId" />
                    <h:inputText id="campaignId" value="#{campaignController.selected.campaignId}" title="#{bundle.EditCampaignTitle_campaignId}" required="true" requiredMessage="#{bundle.EditCampaignRequiredMessage_campaignId}"/>
                    <h:outputLabel value="#{bundle.EditCampaignLabel_campaignDescr}" for="campaignDescr" />
                    <h:inputText id="campaignDescr" value="#{campaignController.selected.campaignDescr}" title="#{bundle.EditCampaignTitle_campaignDescr}" required="true" requiredMessage="#{bundle.EditCampaignRequiredMessage_campaignDescr}"/>
                    <h:outputLabel value="#{bundle.EditCampaignLabel_loadDate}" for="loadDate" />
                    <h:inputText id="loadDate" value="#{campaignController.selected.loadDate}" title="#{bundle.EditCampaignTitle_loadDate}" required="true" requiredMessage="#{bundle.EditCampaignRequiredMessage_loadDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCampaignLabel_startDate}" for="startDate" />
                    <h:inputText id="startDate" value="#{campaignController.selected.startDate}" title="#{bundle.EditCampaignTitle_startDate}" required="true" requiredMessage="#{bundle.EditCampaignRequiredMessage_startDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCampaignLabel_endDate}" for="endDate" />
                    <h:inputText id="endDate" value="#{campaignController.selected.endDate}" title="#{bundle.EditCampaignTitle_endDate}" required="true" requiredMessage="#{bundle.EditCampaignRequiredMessage_endDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCampaignLabel_fileName}" for="fileName" />
                    <h:outputLabel id="fileName" value="#{campaignController.selected.fileName}" title="#{bundle.EditCampaignTitle_fileName}" />
                    <h:outputLabel value="#{bundle.EditCampaignLabel_file}" for="file" />
                    <h:inputFile id="file" value="#{campaignController.selected.file}" title="#{bundle.EditCampaignTitle_file}" />
                </h:panelGrid>
                <h:commandLink action="#{campaignController.update}" value="#{bundle.EditCampaignSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCampaignViewLink}"/>
                <br />
                <h:commandLink action="#{campaignController.prepareList}" value="#{bundle.EditCampaignShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCampaignIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
