<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCampaignTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCampaignEmpty}" rendered="#{campaignController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{campaignController.items.rowCount > 0}">
                    <h:outputText value="#{campaignController.pagination.pageFirstItem + 1}..#{campaignController.pagination.pageLastItem + 1}/#{campaignController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{campaignController.previous}" value="#{bundle.Previous} #{campaignController.pagination.pageSize}" rendered="#{campaignController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{campaignController.next}" value="#{bundle.Next} #{campaignController.pagination.pageSize}" rendered="#{campaignController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{campaignController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignTitle_campaignId}"/>
                            </f:facet>
                            <h:outputText value="#{item.campaignId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignTitle_campaignDescr}"/>
                            </f:facet>
                            <h:outputText value="#{item.campaignDescr}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignTitle_loadDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.loadDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignTitle_startDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.startDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignTitle_endDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.endDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignTitle_fileName}"/>
                            </f:facet>
                            <h:outputText value="#{item.fileName}"/>
                        </h:column>
                       
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{campaignController.prepareView}" value="#{bundle.ListCampaignViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{campaignController.prepareEdit}" value="#{bundle.ListCampaignEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{campaignController.destroy}" value="#{bundle.ListCampaignDestroyLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{campaignController.importExcelFile}" value="#{bundle.ListCampaignGenerateImportDataLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{campaignController.generateReport}" value="#{bundle.ListCampaignGenerateReportLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{campaignController.prepareCreate}" value="#{bundle.ListCampaignCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCampaignIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
