<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCampaignDataTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCampaignDataEmpty}" rendered="#{campaignDataController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{campaignDataController.items.rowCount > 0}">
                    <h:outputText value="#{campaignDataController.pagination.pageFirstItem + 1}..#{campaignDataController.pagination.pageLastItem + 1}/#{campaignDataController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{campaignDataController.previous}" value="#{bundle.Previous} #{campaignDataController.pagination.pageSize}" rendered="#{campaignDataController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{campaignDataController.next}" value="#{bundle.Next} #{campaignDataController.pagination.pageSize}" rendered="#{campaignDataController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{campaignDataController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignDataTitle_campaignDataId}"/>
                            </f:facet>
                            <h:outputText value="#{item.campaignDataId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignDataTitle_noWeek}"/>
                            </f:facet>
                            <h:outputText value="#{item.noWeek}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignDataTitle_weekDescr}"/>
                            </f:facet>
                            <h:outputText value="#{item.weekDescr}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignDataTitle_medium}"/>
                            </f:facet>
                            <h:outputText value="#{item.medium}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignDataTitle_adType}"/>
                            </f:facet>
                            <h:outputText value="#{item.adType}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignDataTitle_country}"/>
                            </f:facet>
                            <h:outputText value="#{item.country}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignDataTitle_impressions}"/>
                            </f:facet>
                            <h:outputText value="#{item.impressions}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignDataTitle_clicks}"/>
                            </f:facet>
                            <h:outputText value="#{item.clicks}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignDataTitle_cost}"/>
                            </f:facet>
                            <h:outputText value="#{item.cost}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCampaignDataTitle_campaignId}"/>
                            </f:facet>
                            <h:outputText value="#{item.campaignId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{campaignDataController.prepareView}" value="#{bundle.ListCampaignDataViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{campaignDataController.prepareEdit}" value="#{bundle.ListCampaignDataEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{campaignDataController.destroy}" value="#{bundle.ListCampaignDataDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{campaignDataController.prepareCreate}" value="#{bundle.ListCampaignDataCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCampaignDataIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
