<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditUserLabel_userId}" for="userId" />
                    <h:inputText id="userId" value="#{userController.selected.userId}" title="#{bundle.EditUserTitle_userId}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_userId}"/>
                    <h:outputLabel value="#{bundle.EditUserLabel_userName}" for="userName" />
                    <h:inputText id="userName" value="#{userController.selected.userName}" title="#{bundle.EditUserTitle_userName}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_userName}"/>
                    <h:outputLabel value="#{bundle.EditUserLabel_userPwd}" for="userPwd" />
                    <h:inputText id="userPwd" value="#{userController.selected.userPwd}" title="#{bundle.EditUserTitle_userPwd}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_userPwd}"/>
                </h:panelGrid>
                <h:commandLink action="#{userController.update}" value="#{bundle.EditUserSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditUserViewLink}"/>
                <br />
                <h:commandLink action="#{userController.prepareList}" value="#{bundle.EditUserShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditUserIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
