<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewUserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewUserLabel_userId}"/>
                    <h:outputText value="#{userController.selected.userId}" title="#{bundle.ViewUserTitle_userId}"/>
                    <h:outputText value="#{bundle.ViewUserLabel_userName}"/>
                    <h:outputText value="#{userController.selected.userName}" title="#{bundle.ViewUserTitle_userName}"/>
                    <h:outputText value="#{bundle.ViewUserLabel_userPwd}"/>
                    <h:outputText value="#{userController.selected.userPwd}" title="#{bundle.ViewUserTitle_userPwd}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{userController.destroyAndView}" value="#{bundle.ViewUserDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewUserEditLink}"/>
                <br />
                <h:commandLink action="#{userController.prepareCreate}" value="#{bundle.ViewUserCreateLink}" />
                <br />
                <h:commandLink action="#{userController.prepareList}" value="#{bundle.ViewUserShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewUserIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
